.thumbnail {
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
}

.thumbnail:hover {
    filter: none;
    transition: 200ms ease-in;
}

#albums-container:hover .thumbnail:not(:hover){
    filter: grayscale(80%);
    transition: 500ms ease-in;
}